/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
  flex-direction: column;
}

.background {
  display: relative;
}

.row {
  display: flex;
}

.loadingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 25px;
  /* Adjust as needed */
  height: 25px;
  /* Adjust as needed */
}

#Main-text {
  color: black;
  position: absolute;
}

h1 {
  justify-content: center;
}


.text-output-section {
  background-color: black;
  position: absolute;
  top: 100%;
  /* Position it below the background */
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /*max-height: calc(100vh - 40px); /* Adjust based on your preference */
  overflow-y: auto;
  min-height: 100vh;
}