/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  scroll-behavior: smooth;
  color: white;
}

.background {
  display: relative;
}

.row {
  display: flex;
}

.cell {
  width: 25px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  /*border: 1px solid white; /* Add border for visibility */
}

h1 {
  position: absolute;
  justify-content: center;
}

.text-output-section {
    background-color: black;
    position: absolute;
    top: 100%; /* Position it below the background */
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /*max-height: calc(100vh - 40px); /* Adjust based on your preference */
    overflow-y: auto;
  
}