/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 25px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  /*border: 1px solid black; /* Add border for visibility */
}

h1 {
  position: absolute;

}